
@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Augson</title>
</head>
<body>
    <div> 
    </div>
    <table>
        
        <thead>First Name</thead>
   

    </table>
    @Html.TextBox("Augson")
  <input id="Click" type="submit" value="Button"/>
   
</body>
</html>
